{% extends 'base.html' %}
{% block addhead %}
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery-ui.js"></script>
<script src="/javascripts/draw2d.js"></script>
<script src="/javascripts/core.js"></script>


<link rel="stylesheet" href="/codemirror/codemirror.css">
<script src="/codemirror/codemirror.js"></script>
<script src="/codemirror/matchbrackets.js"></script>
<script src="/codemirror/python.js"></script>
<script src="/codemirror/sql.js"></script>
<script src="/codemirror/log4j.js"></script>
<script src="/codemirror/htmlmixed.js"></script>
<script src="/codemirror/javascript.js"></script>
<script src="/codemirror/xml.js"></script>
<script src="/codemirror/vbscript.js"></script>
{% endblock %}

{% block navbarbottom %}{% endblock %}

{% block navbar %}
<div id="toolbar_node"></div>
{% endblock %}

{% block body %}
    <style>
        #gfx_holder > svg {
            position: relative !important;
        }
        rect.draw2d_shape_basic_Label {
            opacity: 0 !important;
        }
    </style>
    <div id="core" class="content-center">
	  	<div  onselectstart="javascript:/*IE8 hack*/return false" id="gfx_holder" style="width:3000px; height:3000px;">
        </div>
    </div>

    <div class=".siimple--float-right" id="property-panel">
        <div class="siimple-navbar">
            <div class="siimple-navbar-title" id="property-title"></div>
            <div class="siimple--float-right siimple-btn siimple-btn--big icon-save siimple-btn--primary" id="save" onclick=""></div>
            <div class="siimple--float-right siimple-btn siimple-btn--big icon-play siimple-btn--success" id="play" onclick="viewRun()"></div>
            <input id="property-id" style="display: none;"></input>
        </div>
        <div class="siimple-content" id="property-body">
        </div>
        <div class="siimple-navbar" id="property-footer">
        </div>
    </div>
    
    <div class="siimple-modal siimple-modal--medium" id="modal-version" style="display:none;">
        <div class="siimple-modal-content">
            <div class="siimple-modal-header">
                <div class="siimple-modal-header-title">Add Version</div>
                <div class="siimple-modal-header-close" id="modal-close-version"></div>
            </div>
            <div class="siimple-modal-body">
                <form method="POST" id="formversion" name="formversion" action="">
                    <table class="siimple-table">
                        <tr>
                            <td><label class="siimple-label">Ajout Version: </label></td>
                            <td><input name="version" id="version" class="siimple-input siimple-input--fluid" value="" required></td>
                            <td class="min"><div class="siimple--float-right siimple-btn siimple-btn--big icon-save siimple-btn--primary" onclick="addVersion()"></div></td>
                        </tr>
                    </table>
                </form>
                    <label class="siimple-label">Versions: </label>
                    <table class="siimple-table" id="versions">
                    </table>
            </div>
            <div class="siimple-modal-footer">
            </div>
        </div>
    </div>

    
    <div class="siimple-modal siimple-modal--medium" id="modal-run" style="display:none;">
        <div class="siimple-modal-content">
            <div class="siimple-modal-header">
                <div class="siimple-modal-header-title">Run {{ flow.name }}</div>
                <div class="siimple-modal-header-close" id="modal-close-run"></div>
            </div>
            <div class="siimple-modal-body">
                <form method="POST" id="formrun" name="formrun">
                    <table>
                        <tr>
                            <td><label class="siimple-label">Environment: </label></td>
                            <td>
                            <select id="env" name="env" class="siimple-select siimple-select--fluid">
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="siimple-label">Level: </label></td>
                            <td>
                            <select id="levellog" name="levellog" class="siimple-select siimple-select--fluid">
                                <option value="debug">debug</option>
                                <option value="info" selected="selected">info</option>
                                <option value="warning">warning</option>
                                <option value="error">error</option>
                                <option value="critical">critical</option>
                            </select>
                            </td>
                        </tr>
                    </table>
                </form>
                <textarea name="log" id="log" class="siimple-textarea siimple-textarea--fluid" rows="15"></textarea>
                <input name="isrunflow" id="isrunflow" class="siimple-input siimple-input--fluid hidden" value="true" required>
                <input name="uidflow" id="uidflow" class="siimple-input siimple-input--fluid hidden" value="" required>
                <input name="logflow" id="logflow" class="siimple-input siimple-input--fluid hidden" value="" required>
            </div>
            <div class="siimple-modal-footer">
                <div class="siimple-navbar">
                    <div class="siimple--float-right">
                        <div id="stopflowbutton" class="siimple--float-right siimple-btn siimple-btn--big icon-close siimple-btn--error hidden" onclick="stopFlow()"></div>
                        <div id="runflowbutton" class="siimple--float-right siimple-btn siimple-btn--big icon-play siimple-btn--primary" onclick="runFlow()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="siimple-modal siimple-modal--medium" id="modal-env" style="display:none;">
        <div class="siimple-modal-content">
            <div class="siimple-modal-header">
                <div class="siimple-modal-header-title">Environment</div>
                <div class="siimple-modal-header-close" id="modal-close-env"></div>
            </div>
            <div class="siimple-modal-body">
                <div class="siimple-navbar">
                    <div class="siimple-navbar-title" id="property-title"></div>
                    <div class="siimple--float-right siimple-btn siimple-btn--warning"  onclick="addEnvironment()">Add Environment</div>
                </div>
                <div class="siimple-table">
                    <div class="siimple-table-header">
                    </div>

                    <div class="siimple-table-body">
                    </div>
                </div>
            </div>
            <div class="siimple-modal-footer">
                <div class="siimple-navbar">
                    <div class="siimple-btn siimple-btn--success" onclick="addKey()">Add Key</div>
                    <div class="siimple--float-right">
                        <div class="siimple--float-right siimple-btn siimple-btn--big icon-save siimple-btn--primary" onclick="saveEnvironment()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="siimple-modal siimple-modal--medium" id="modal-logs" style="display:none;">
        <div class="siimple-modal-content">
            <div class="siimple-modal-header">
                <div class="siimple-modal-header-title">Logs {{ flow.name }}</div>
                <div class="siimple-modal-header-close" id="modal-close-logs"></div>
            </div>
            <div class="siimple-modal-body">
                <form method="POST" id="formlogs" name="formlogs">
                    <table>
                        <tr>
                            <td><label class="siimple-label">Log: </label></td>
                            <td>
                            <select id="idlog" name="idlog" class="siimple-select siimple-select--fluid" onchange="refreshLog(this)">
                            </select>
                            </td>
                        </tr>
                    </table>
                </form>
                <textarea name="logview" id="logview" class="siimple-textarea siimple-textarea--fluid" rows="15"></textarea>
            </div>
            <div class="siimple-modal-footer">
                <div class="siimple-navbar">
                    <div class="siimple--float-right">
                        <div class="siimple--float-right siimple-btn siimple-btn--big icon-del siimple-btn--error" onclick="removeLog()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="/javascripts/flows.js"></script>
    {% for node in nodes %}
    <script src="/{{ node }}/node.js"></script>
    <link rel="stylesheet" href="/{{ node }}/node.css">
    {% endfor %}
    <script type="text/javascript">
    readJSON(canvas, {{ flow.id }});
    </script>
{% endblock %}